APP_NAME=DolzaRealEstate
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-project.vercel.app

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=array
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost:8000,your-project.vercel.app

FILESYSTEM_DISK=local
