/vendor/
/node_modules/
.env
.env.*.old
/storage/framework/cache/data/
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/framework/.gitignore
!storage/logs/.gitignore
/public/hot
/public/storage
/bootstrap/cache/*.php
/build/
.DS_Store
Thumbs.db
*.log
.vercel/
